// Custom.scss
// This is the file you will want to update to customize your page.

// Import Google fonts here
@import url("https://fonts.googleapis.com/css2?family=Tilt+Neon&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Agbalumo&display=swap");
// Include any default variable overrides here (colors, font sizes, font family, etc..)

$body-bg: #f80;

$primary: #987dd3;
$secondary: #7d82b8;
$success: #b7e3cc;
$info: #c4ffb2;
$warning: #d6f7a3;
$danger: #dd7596;
$light: #f2f2f2;
$dark: #404e5c;

// Adjust nav link hover color here
$navbar-light-color: red;
$navbar-light-hover-color: blue;
$navbar-light-active-color: yellow;

// Typography
// Change font family for base text
$font-family-sans-serif: "Tilt Neon", sans-serif;
$headings-font-family: "Agbalumo", serif;

// Change font family for headings
$h1-font-size: 1rem * 8;
$h2-font-size: 1rem * 2;
$h3-font-size: 1rem * 1.75;


$line-height-base: 1.6;


@import "../node_modules/bootstrap/scss/bootstrap";




// Change font sizes for h1-h6 using values in assignment



// Add additional custom code here


// Target .navbar-brand and change font-family to use 'Libre Baskerville'.
